@import "variables";


%base-style {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background: var(--bg-color);
    fill: currentColor;
}

%base-color {
    color: var(--text-color);
}

%base-font {
    font-style: normal;
    line-height: 1rem;
    font-family: $fontsView;
}
